<%-  include ('./partials/header');  -%>


<div style="background-color: rgb(124, 124, 129); padding: 110px 400px;">
    <h1 style="color: red; padding-left: 180px;">Sorry!</h1>
    <h1 style="color: red;">404 Page Not Found</h1>
    <br>
    <button style="font-size: 30px;"><a href="/" style="color: rgb(10, 236, 10);"><-Back</a></button>
    <br><br>
</div>



<%-  include ('./partials/footer');  -%>
