<%- include ('./partials/header'); -%>

  <!-- ========================
       page title 
    =========================== -->
  <section class="page-title page-title-layout1 bg-overlay">
    <div class="bg-img"><img src="images/page-titles/1.jpg" alt="background"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
          <h1 style="color: white;" class="pagetitle__heading">certified professionals who advise and represent natural
            and juristic persons in legal matters..</h1>
          <p style="color: white;" class="pagetitle__desc">They counsel clients, perform legal research, prepare legal
            documents and represent clients in criminal and civil court proceedings.
          </p>
          <div class="d-flex flex-wrap align-items-center">
            <a href="/lawyers" class="btn btn__primary btn__rounded mr-30">
              <span>Find A Lawyers</span>
              <i class="icon-arrow-right"></i>
            </a>
            <a href="/contact" class="btn btn__white btn__rounded">
              <span>contacts</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
        </div><!-- /.col-xl-5 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.page-title -->

  <!-- ========================
      About Layout 1
    =========================== -->
  <section class="about-layout1 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading-layout2">
            <h1 style="color: white;" class="heading__title mb-40">Over View... About Us..</h1>
          </div><!-- /heading -->
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-15 col-md-15 col-lg-10">
          <div class="about__Text">
            <p style="color: white;" class="mb-30">Trust lawyer is servicing since 2022 as generic scalable software
              product engineered to
              assist lawyer and other professional in searching laws and case laws it also facilitate general public and
              law students to understand law to provide them assistant. It has the privilege to be the first website on
              the law in Pakistan. <br>
            <p style="margin-top: 20px; color:white ;" class="mb-30">
              In technical science trust lawyers may be termed as a portal and being a law portal it offers all the
              basic functionalities of web portal which encompass searching of laws. Case laws and notification as well
              as finding lawyers in Pakistan the website is generic to some extent yet it is specific to law and law
              industry</p>In addition to all these functionalities the distinguish future of this web portal if the
            affiliation of the lawyer community with the website itself which help content to be posted on the website
            and given ideas and suggestions thus making the websites more and more comprehensive and goal oriented</p>
            <div class="heading-layout2">
              <h3 class="heading__title mb-40"></h3>
            </div>
            <p style="color: white;" class="mb-30">Trust lawyer is a website targeted not only at the lawyers and
              intellectuals but also to law students those interested in law and people in common.
              <br>The main objective trust liar can be classified into following Bose goal.
            </p>
            <h2 style="color: white;">Objective Goals</h2>
            <ul>
              <li>Awareness of law</li>
              <li>Romotion of law </li>
              <li>Utilization of information technology in law</li>
              <li>Providing assistance to lawyers and law student in research</li>
            </ul>
            <div class="heading-layout2">
              <h3 class="heading__title mb-40"></h3>
              <p style="color: white;" class="mb-30">Generally the common people of Pakistan are unwear and ignorant of
                various laws in
                enforce. There are common misconceptions about laws and law in enforcing agencies. Sometimes innocent
                people do what is termed as grave wrong just because of lack of knowledge. The general impression of law
                is very vague and in many cases the concept is totally opposite to what a lawyer actually is. Awareness
                of law among the members of the society is therefore the main factor of development of society.</p>
            </div>

            <div class="heading-layout2">
              <h3 class="heading__title mb-40"></h3>
              <p style="color: white;" class="mb-30">GOn the other hand Pakistani lawyers in general are unaware of the use of information
                technology . Computer and restricted for the use of word processors. Email addresses are acquired but
                never you. A few belonging to this Nobel profession is,to an extent knows the merit of information
                technology.The aim of a trust lawyer is to attract lawyers to adopt information technology and take
                advantage of this wonderful technology we add trust lawyer endeavouring how to cause lawyers to combine
                law and technology together for the benefits of the whole community as well as for the system.</p>
            </div>
          </div>
        </div><!-- /.col-lg-6 -->
        <!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.About Layout 1 -->



  <%- include ('./partials/footer'); -%>