<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Admin SignUp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body  class="form-v9">

    <div class="page-content">
		<div class="form-v9-content" style="background:rgb(82, 78, 78) ">
			<form class="form-detail" action="/adminDashboardLawyer/admin-signup" method="POST">
				<% if(success && success.length > 0) { %>
					<div class="alert alert-success" role="alert">
						<%=success%>
					</div>
				<% } %>
				<% if(error && error.length > 0) { %>
					<div class="alert alert-danger" role="alert">
						<%=error%>
					</div>
				<% } %>
				<h2 style="color: white;"> Admin Registration Form</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input style="color: white;" type="email" name="username" id="your-email" class="input-text" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[c-c]{1}[o-o]{1}[m-m]{1,}$">
					</div>
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input style="color: white;" type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					</div>
					<div class="form-row">
						<input style="color: white;" type="password" name="cpassword" id="comfirm-password" class="input-text" placeholder="Confirm Password" required>
					</div>
				</div>             
                <br>             
				<div class="form-row-last">
					<input style="background-color:rgb(74, 178, 74) ;margin-left: 30px;" type="submit" id="go" name="register" class="register" value="Register">
				</div>
				<div class="form-row-last">
				<a style="text-decoration: none;" href="/adminDashboardLawyer"> <input type="button" id="go" name="login" class="register" value="Back">  </a>
				</div>
                
			</form>
		</div>
	</div>

</body>
</html>
