<%-  include ('./partials/header');  -%>

    <!-- ========================= 
            Google Map
    =========================  -->
    <section class="google-map py-0">
   <img src="images/sliders/1.jpg" alt="">
    </section><!-- /.GoogleMap -->

    <!-- ==========================
        contact layout 1
    =========================== -->
    <section class="contact-layout1 pt-0 mt--100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contact-panel d-flex flex-wrap">
              <form class="contact-panel__form" action="/contact" method="POST">
                <h3>self-awareness</h3>
                <p style="color: rgb(0, 0, 0); font-size: 19px;">Self-awareness is the ability to focus on yourself and how your actions, thoughts, or emotions do or don't align with your internal standards. If you're highly self-aware, you can objectively evaluate yourself, manage your emotions, align your behavior with your values, and understand correctly how others perceive you. <br></p> 
                <h3>Benefits of self-awareness:</h3>
                <ul >
                  <li style="color: rgb(0, 0, 0); font-size: 19px;">It gives us the power to influence outcomes.</li>
                  <li style="color: rgb(0, 0, 0); font-size: 19px;">It helps us to become better decision-makers It gives us more self-confidence — so, as a result, we communicate with clarity and intention.</li>
                  <li style="color: rgb(0, 0, 0); font-size: 19px;">It allows us to understand things from multiple perspectives.</li>
                  <li style="color: rgb(0, 0, 0); font-size: 19px;">It frees us from our assumptions and biases.</li>
                  <li style="color: rgb(0, 0, 0); font-size: 19px;">It gives us a greater ability to regulate our emotions.</li>
                

                </ul>
              </form>
             
              <div class="contact-panel__info d-flex flex-column justify-content-between bg-overlay bg-overlay-primary-gradient">
                <div class="bg-img"><img src="images/backgrounds/8.jpg" alt="banner"></div>
                <div>
                  <h4  class="contact-panel__title color-white">Quick Contacts</h4>
                  <p class="contact-panel__desc font-weight-bold color-white mb-30">Please feel free to contact our
                    friendly staff with any Legal awareness.
                  </p>
                </div>
                <div>
                  <ul class="contact__list list-unstyled mb-30">
                    <li>
                      <i class="icon-location"></i><a href="#">Location: Pakistan</a>
                    </li>
                    <li>
                      <i class="icon-phone"></i><a href="tel:+923056436866">Emergency Line 1: +92 3056436 866</a>
                    </li>
                    <li>
                      <i class="icon-phone"></i><a href="tel:+923043600997">Emergency Line 2: +92 3043600 997</a>
                    </li>
                    <li>
                      <i class="icon-email"></i><a href="#">Email: tariqumair017@gmail.com</a>
                    </li>
                    <li>
                      <i class="icon-location"></i><a href="#">Address: Comsats University Sahiwal</a>
                    </li>
                    <li>
                      <i class="icon-clock"></i><a href="#">Mon - Fri: 8:00 am - 7:00 pm</a>
                    </li>
                  </ul>
                  <a style="color: black;" href="tel:+923056436866" class="btn btn__white btn__rounded btn__outlined">Call Us</a>
                  <br><br>
                  <a style="color: black;" href="/help" class="btn btn__white btn__rounded btn__outlined">Help</a>
                </div>
              </div>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact layout 1 -->
  <!-- ========================= 
      Testimonials layout 2
      =========================  -->
      <section style="background-color: #050504; " class="testimonials-layout2 pt-130 pb-40">
        <div class="container">
          <div class="testimonials-wrapper">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="heading-layout2">
                  <h3 style="color: white;" class="heading__title">Inspiring Stories!</h3>
                </div><!-- /.heading -->
              </div><!-- /.col-lg-5 -->
              <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="slider-with-navs">
                  <!-- Testimonial #1 -->
                  <div class="testimonial-item">
                    <h3 style="color: white;" class="testimonial__title">“About half-way through this process, the DHS returned the child to his
                      mother realizing that she was a fit parent, and then it became a fight where the parent, the child’s
                      ad litem, and DHS were all wanting the case closed but the court was refusing for some inexplicable
                      reason. Finally, with no reason to keep prolonging matters given everyone’s agreement that the mother
                      was a decent person and was just in a bad spot, the case was closed”
                    </h3>
                  </div><!-- /. testimonial-item -->
                  <!-- Testimonial #2 -->
                  <div class="testimonial-item">
                    <h3 style="color: white;" class="testimonial__title">“I was once able to help a lady whose son had been murdered figure out
                      what to tell the hospital and doctors so she could get access to her son’s emergency room medical
                      records without having to open a formal estate administration procedure and to get appointed as
                      Administrator of his estate. There were no significant probate assets—no will, no heirs other than the
                      parents, and no need to do an estate administration—but she needed access to the medical records. I
                      found the provision that authorized her to have access, told her what to say, and it worked.”
                    </h3>
                  </div><!-- /. testimonial-item -->
                  <!-- Testimonial #3 -->
                  <div class="testimonial-item">
                    <h3 style="color: white;" class="testimonial__title">“I have a client that has had 11 personal or business matters in the
                      past eight years. Four of her family members and their spouses have also used us (same last name) [as
                      well as] a shirttail relative (same last name) that has become an employee. Clio helps me accurately
                      address their individual issues and concerns and find the correct contact info. It also keeps their
                      matters organized! They love me. Thanks Clio!”
                    </h3>
                  </div><!-- /. testimonial-item -->
                </div><!-- /.slick-carousel -->
                <div class="slider-nav mb-60">
                  <div class="testimonial__meta">
                    <div class="testimonial__thmb">
                      <img src="images/testimonials/thumbs/1.png" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div style="color: white;">
                      <h4 style="color: white;" class="testimonial__meta-title">Sami Wade</h4>
                      <p class="testimonial__meta-desc">Lahor</p>
                    </div>
                  </div><!-- /.testimonial-meta -->
                  <div class="testimonial__meta">
                    <div class="testimonial__thmb">
                      <img src="images/testimonials/thumbs/2.png" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div style="color: white;">
                      <h4 style="color: white;" class="testimonial__meta-title">Ahmed</h4>
                      <p class="testimonial__meta-desc">Karachi</p>
                    </div>
                  </div><!-- /.testimonial-meta -->
                  <div class="testimonial__meta">
                    <div class="testimonial__thmb">
                      <img src="images/testimonials/thumbs/3.png" alt="author thumb">
                    </div><!-- /.testimonial-thumb -->
                    <div style="color: white;">
                      <h4 style="color: white;" class="testimonial__meta-title">Sonia Blake</h4>
                      <p class="testimonial__meta-desc">Sahiwal</p>
                    </div>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /.slider-nav -->
              </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
          </div><!-- /.testimonials-wrapper -->
        </div><!-- /.container -->
      </section><!-- /.testimonials layout 2 -->
    
    <!-- ========================
     gallery
    =========================== -->
    <section class="gallery pt-0 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <a class="popup-gallery-item" href="images/gallery/1.jpg">
                <img src="images/gallery/1.jpg" alt="gallery img">
              </a>
              <a class="popup-gallery-item" href="images/gallery/2.jpg">
                <img src="images/gallery/2.jpg" alt="gallery img">
              </a>
              <a class="popup-gallery-item" href="images/gallery/3.jpg">
                <img src="images/gallery/3.jpg" alt="gallery img">
              </a>
              <a class="popup-gallery-item" href="images/gallery/4.jpg">
                <img src="images/gallery/4.jpg" alt="gallery img">
              </a>
              <a class="popup-gallery-item" href="images/gallery/5.jpg">
                <img src="images/gallery/5.jpg" alt="gallery img">
              </a>
              <a class="popup-gallery-item" href="images/gallery/6.jpg">
                <img src="images/gallery/6.jpg" alt="gallery img">
              </a>
            </div><!-- /.gallery-images-wrapper -->
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.gallery 2 -->


<%-  include ('./partials/footer');  -%>
