<%-  include ('./partials/header');  -%>


    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout5 bg-overlay text-center">
      <div class="bg-img"><img src="images/page-titles/6.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 style="color: white;" class="pagetitle__heading">Our Gallery</h1>
            <nav>
              <ol  class="breadcrumb justify-content-center mb-0">
                <li style="color: white;" class="breadcrumb-item"><a href="/aboutUs">About Us</a></li>
                <li style="color: white;" class="breadcrumb-item active" aria-current="page">Our Gallery</li>
              </ol>
            </nav>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ========================
     gallery layout2
    =========================== -->
    <section class="gallery-layout2 pt-130 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 text-center">
            <div class="heading mb-60">
              <h2 style="color: white;" class="heading__subtitle">The Best Lawyer And Legal Advisors!</h2>
              <h3 style="color: white;" class="heading__title">Providing An Attorney For Ease Of Justice In Our Community.</h3>
            </div><!-- /heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/1.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/1.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/2.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/2.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/3.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/3.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/4.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/4.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/5.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/5.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="gallery-img">
              <a class="popup-gallery-item" href="images/gallery/6.jpg"><i class="fas fa-eye"></i></a>
              <img src="images/gallery/6.jpg" alt="gallery img">
            </div><!-- /.gallery-img -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.gallery layout2 -->

    
<%-  include ('./partials/footer');  -%>
