<%- include ('./partials/header'); -%>

  <!-- ============================
        Slider
    ============================== -->
  <section class="slider">
    <div class="slick-carousel m-slides-0"
      data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
      <div class="slide-item align-v-h">
        <div class="bg-img"><img src="images/sliders/1.jpg" alt="slide img"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
              <div class="slide__content">
                <h2 style="color: white; " class="slide__title">Providing Best Lawyer Services</h2>
                <p class="slide__desc">You can engage our lawyers and attorneys for legal representation in court,
                  tribunal or for ADR proceedings.</p>
                <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                  <!-- feature item #1 -->
                  <!-- /.feature-item-->
                </ul><!-- /.features-list -->
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
      <div class="slide-item align-v-h">
        <div class="bg-img"><img src="images/sliders/2.jpg" alt="slide img"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
              <div class="slide__content">
                <h2 style="color: white;" class="slide__title">All Aspects Of Lawyer Practice</h2>
                <p class="slide__desc">You can engage our lawyers and attorneys for legal representation in court,
                  tribunal or for ADR proceedings..</p>
                <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                  <!-- feature item #1 -->
                  <!-- /.feature-item-->
                </ul><!-- /.features-list -->
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
    </div><!-- /.carousel -->
  </section><!-- /.slider -->

  <!-- ============================
        contact info
    ============================== -->
  <section class="contact-info py-0">
    <div class="container">
      <div class="row row-no-gutter boxes-wrapper">
        <div class="col-sm-12 col-md-4">
          <div class="contact-box d-flex">
            <div class="contact__icon">
              <i class="icon-call3"></i>
            </div><!-- /.contact__icon -->
            <div class="contact__content">
              <h2 class="contact__title">Emergency Cases</h2>
              <p class="contact__desc">Please feel free to contact our friendly reception staff with any general or
                medical enquiry.</p>
              <a href="tel:+92305643686" class="phone__number">
                <i class="icon-phone"></i> <span style="font-size: 16px;">+92 305 6436 86</span>
              </a>
            </div><!-- /.contact__content -->
          </div><!-- /.contact-box -->
        </div><!-- /.col-md-4 -->
        <div class="col-sm-12 col-md-4">
          <div class="contact-box d-flex">
            <div class="contact__icon">
              <i class="icon-health-report"></i>
            </div><!-- /.contact__icon -->
            <div class="contact__content">
              <h2 class="contact__title">lawyers Timetable</h2>
              <p class="contact__desc">Qualified Lawyers available six days a week, view our Lawyers grid to make an
                appointment.</p>
              <!-- <a href="doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded"> -->
              <!-- <span>View Timetable</span><i class="icon-arrow-right"></i> -->
              </a>
            </div><!-- /.contact__content -->
          </div><!-- /.contact-box -->
        </div><!-- /.col-md-4 -->
        <div class="col-sm-12 col-md-4">
          <div class="contact-box d-flex">
            <div class="contact__icon">
              <i class="icon-heart2"></i>
            </div><!-- /.contact__icon -->
            <div class="contact__content">
              <h2 class="contact__title" style="color: black;">Available's Hours</h2>
              <ul class="time__list list-unstyled mb-0">
                <li style="color: black;"><span>Monday - Friday</span><span>8.00 - 7:00 pm</span></li>
                <li style="color: black;"><span>Saturday</span><span>9.00 - 10:00 pm</span></li>
                <li style="color: black;"><span>Sunday</span><span>10.00 - 12:00 pm</span></li>
              </ul>
            </div><!-- /.contact__content -->
          </div><!-- /.contact-box -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.contact-info -->

  <!-- ========================
      About Layout 2
    =========================== -->
  <section class="about-layout2 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
          <div class="heading-layout2">
            <h3 style="color: white;" class="heading__title mb-60">We Are A Group of Professional <br> Lawyers And
              Attorenys.</h3>
          </div><!-- /heading -->
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5">
          <div class="text-with-icon">
            <div class="text__icon">
              <i class="icon-doctor"></i>
            </div>
            <div class="text__content">
              <p style="background-color:rgb(198, 197, 197); text-align: center;" class="heading__desc font-weight-bold color-secondary mb-30">If you feel your
                civil rights have been
                violated because you were fired for exercising your right to free speech, immediately contact Erik M.
                Yurkovich, Esq. Attorney at Law, in Wexford, PA to discuss your case and aggressively represent you in
                court.
              </p>
              <a href="/lawyers" class="btn btn__secondary btn__rounded mb-70">
                <span>Find A Lawyers</span> <i class="icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="video-banner-layout2 bg-overlay">
            <img src="/images/about/2.jpg" alt="about" class="w-100">
            <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=GpZA5w2rW5A">
              <div class="video__player">
                <i class="fa fa-play"></i>
              </div>
              <span class="video__btn-title color-white">Watch Our Video!</span>
            </a>
          </div><!-- /.video-banner -->
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="about__text bg-white">
            <br><br><br>
            <p class="heading__desc mb-30">Mailchimp publishes many kinds of legal content to protect ourselves and our
              users around the world. Most of our legal content is written by the Legal department with help from the
              Communications team. This section gives a general overview of the types of legal content we publish and
              how those documents are written. </p>
            <p style="color: black;" class="heading__desc mb-30">All of our public legal documents, and any changes to
              those documents, are drafted by our in-house Legal team. When new legal documents are published or edited,
              we notify all our users of the updates and provide a window for them to object before the new terms go
              into effect.</p>
            <ul class="list-items list-unstyled">
              <li style="color: black;">Our first and foremost concern is that we present the correct information in a
                truthful way.</li>
              <li style="color: black;">We try to avoid legal jargon and overly formal wording. Our users need to
                understand the agreement they’re making with us.
              </li>

            </ul>
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.About Layout 2 -->

  <!-- ========================
        Services Layout 1
    =========================== -->
  <section class="services-layout1 services-carousel">
    <div style="background-color: black;" class="bg-img"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
          <div class="heading text-center mb-60">
            <h2 style="color: white;" class="heading__subtitle">The Best Legal And General Practice Advices!</h2>
            <h3 style="color: white;" class="heading__title">Providing Careful review of each client case.</h3>
          </div><!-- /.heading -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="slick-carousel"
            data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
            <!-- service item #1 -->
            <div class="service-item">
              <div class="service__icon">

              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 style="color: black;" class="service__title">Murder law</h4>
                <p style="color: black;;" class="service__desc">At common law, murder was defined as killing another
                  human being with malice
                  aforethought. Malice aforethought is a legal term of art, that encompasses the following types of
                  murder: "Intent-to-kill murder" "Grievous-bodily-harm murder" - Killing someone in an attack
                  intended to cause them grievous bodily harm. the fields, these training programs are called
                  fellowships, and are one to two years.
                </p>
                <ul class="list-items list-items-layout1 list-unstyled">

                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i> -->
                </a>
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
            <!-- service item #2 -->
            <div class="service-item">
              <div class="service__icon">

              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 class="service__title">Car accident</h4>
                <p class="service__desc">Car accidents can cause property damage, bodily injuries, or death. According
                  to the National Highway Traffic Safety Administration (NHTSA), over 36,000 people died in car
                  accidents in 2018. Although this is a 2.4% decrease from the previous year, distracted driving,
                  drunk driving, and vehicular malfunctions contribute to thousands of accidents in the U.S. every
                  day. </p>
                <ul class="list-items list-items-layout1 list-unstyled">

                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i> -->
                </a>
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
            <!-- service item #3 -->
            <div class="service-item">
              <div class="service__icon">
              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 class="service__title">rape Case</h4>
                <p class="service__desc">rape, unlawful sexual activity, most often involving sexual intercourse,
                  against the will of the victim through force or the threat of force or with an individual who is
                  incapable of giving legal consent because of minor status, mental illness, mental deficiency, </p>
                <ul class="list-items list-items-layout1 list-unstyled">
                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a> -->
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
            <!-- service item #4 -->
            <div class="service-item">
              <div class="service__icon">
              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 class="service__title">flood</h4>
                <p class="service__desc">This was enough to cause a flood of complaints and the temporary removal of
                  the magazine from the shelves of several newsagents.
                </p>
                <ul class="list-items list-items-layout1 list-unstyled">
                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a> -->
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
            <!-- service item #5 -->
            <div class="service-item">
              <div class="service__icon">
              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 class="service__title">Fight</h4>
                <p class="service__desc">If you fight a case or a court action, you make a legal case against someone
                  in a very determined way, or you put forward a defence when a legal case is made against you.
                </p>
                <ul class="list-items list-items-layout1 list-unstyled">
                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a> -->
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
            <!-- service item #6 -->
            <div class="service-item">
              <div class="service__icon">
              </div><!-- /.service__icon -->
              <div class="service__content">
                <h4 class="service__title">Divorce </h4>
                <p class="service__desc">Divorce is the final termination of a marital union, canceling the legal
                  duties and responsibilities of marriage, and dissolving the bonds of matrimony between the parties.
                  Divorce laws vary considerably around the world, but in most countries. </p>
                <ul class="list-items list-items-layout1 list-unstyled">
                </ul>
                <!-- <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a> -->
              </div><!-- /.service__content -->
            </div><!-- /.service-item -->
          </div>
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Services Layout 1 -->

  <!-- ========================
        Notses
    =========================== -->
  <section style="background-color: #050504;" class="notes border-top pt-60 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <!-- <div class="note font-weight-bold"> -->
          <!-- <i class="far fa-file-alt color-primary"></i> -->
          <!-- <span>Delivering tomorrow’s health care for your family.</span>
              <a href="doctors-timetable.html" class="btn btn__link btn__secondary">
                <span>View Doctors’ Timetable</span><i class="icon-arrow-right"></i>
              </a> -->
        </div>
      </div><!-- /.col-sm-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="info__meta d-flex flex-wrap justify-content-between align-items-center">
          <div class="testimonials__rating">
            <!-- <div class="testimonials__rating-inner d-flex align-items-center">
                  <span class="total__rate">4.9</span>
                  <div>
                    <span class="overall__rate">Zocdoc Overall Rating</span>
                    <span>, based on 7541 reviews.</span>
                  </div> -->
          </div><!-- /.testimonials__rating-inner -->
        </div><!-- /.testimonials__rating -->
      </div><!-- /.info__meta -->
    </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.notes -->

  <!-- ======================
    Features Layout 2
    ========================= -->

  <!-- ======================
      Team
    ========================= -->
  <section class="team-layout2 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
          <div class="heading text-center mb-40">
            <h3 style="color: white;" class="heading__title">Meet Our Lawyers</h3>
            <p style="color:white ;" class="heading__desc">Our administration and support staff all have exceptional
              people skills and
              trained to assist you with all Legal Advices.
            </p>
          </div><!-- /.heading -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="slick-carousel"
            data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
            <!-- Member #1 -->
            <div class="member">
              <div class="member__img">
                <img src="/images/team/1.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Nawaz Haq</a></h5>
                <p class="member__job">Murder</p>
                <p style="color: black;" class="member__desc">Murder, in criminal law, the unjustified killing of one
                  person by another,
                  usually distinguished from the crime of manslaughter by the element of malice aforethought.</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
            <!-- Member #2 -->
            <div class="member">
              <div class="member__img">
                <img src="/images/team/2.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Aatif Ahmed</a></h5>
                <p class="member__job">Rape Case Specialist</p>
                <p class="member__desc">Rape, unlawful sexual activity, most often involving sexual intercourse, against
                  the will of the victim through force or the threat of force or with an individual who is incapable Murder.
                </p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
            <!-- Member #3 -->
            <div class="member">
              <div class="member__img">
                <img src="images/team/3.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Anees Qureshi</a></h5>
                <p class="member__job">Legal Case</p>
                <p class="member__desc">A legal case is in a general sense a dispute between opposing parties which may
                  be resolved by a court, or by some equivalent legal process. A legal case is typically based on either

                </p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
            <!-- Member #4 -->
            <div class="member">
              <div class="member__img">
                <img src="images/team/4.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Nazish Ashraf</a></h5>
                <p class="member__job">Divorce</p>
                <p class="member__desc">A divorce is a formal ending of a marriage. It's more permanent than a
                  separation and involves a legal process. If you get a divorce, that means the marriage is officially
                  over. </p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
            <!-- Member #5 -->
            <div class="member">
              <div class="member__img">
                <img src="images/team/5.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Anwar Mughal </a></h5>
                <p class="member__job">Fight Case Specialist</p>
                <p class="member__desc">If you fight a case or a court action, you make a legal case against someone in
                  a very determined way, or you put forward a defence when a legal case is made against you..</p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
            <!-- Member #6 -->
            <div class="member">
              <div class="member__img">
                <img src="images/team/6.jpg" alt="member img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><a href="/lawyers">Basit Ali</a></h5>
                <p class="member__job">Divorce Case Specialist </p>
                <p class="member__desc">A divorce is a formal ending of a marriage. It's more permanent than a
                  separation and involves a legal process. If you get a divorce, that means the marriage is officially
                  over. </p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers" class="btn btn__secondary btn__link btn__rounded">
                    <span>Hire Lawyer</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <!-- /.social-icons -->
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.carousel -->
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Team -->

  <!-- ======================
     Work Process 
    ========================= -->

  <!-- ========================= 
      Testimonials layout 2
      =========================  -->
  <section style="background-color: #050504; " class="testimonials-layout2 pt-130 pb-40">
    <div class="container">
      <div class="testimonials-wrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="heading-layout2">
              <h3 style="color: white;" class="heading__title">Inspiring Stories!</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="slider-with-navs">
              <!-- Testimonial #1 -->
              <div class="testimonial-item">
                <h3 style="color: white;" class="testimonial__title">“About half-way through this process, the DHS
                  returned the child to his
                  mother realizing that she was a fit parent, and then it became a fight where the parent, the child’s
                  ad litem, and DHS were all wanting the case closed but the court was refusing for some inexplicable
                  reason. Finally, with no reason to keep prolonging matters given everyone’s agreement that the mother
                  was a decent person and was just in a bad spot, the case was closed”
                </h3>
              </div><!-- /. testimonial-item -->
              <!-- Testimonial #2 -->
              <div class="testimonial-item">
                <h3 style="color: white;" class="testimonial__title">“I was once able to help a lady whose son had been
                  murdered figure out
                  what to tell the hospital and doctors so she could get access to her son’s emergency room medical
                  records without having to open a formal estate administration procedure and to get appointed as
                  Administrator of his estate. There were no significant probate assets—no will, no heirs other than the
                  parents, and no need to do an estate administration—but she needed access to the medical records. I
                  found the provision that authorized her to have access, told her what to say, and it worked.”
                </h3>
              </div><!-- /. testimonial-item -->
              <!-- Testimonial #3 -->
              <div class="testimonial-item">
                <h3 style="color: white;" class="testimonial__title">“I have a client that has had 11 personal or
                  business matters in the
                  past eight years. Four of her family members and their spouses have also used us (same last name) [as
                  well as] a shirttail relative (same last name) that has become an employee. Clio helps me accurately
                  address their individual issues and concerns and find the correct contact info. It also keeps their
                  matters organized! They love me. Thanks Clio!”
                </h3>
              </div><!-- /. testimonial-item -->
            </div><!-- /.slick-carousel -->
            <div class="slider-nav mb-60">
              <div class="testimonial__meta">
                <div class="testimonial__thmb">
                  <img src="images/testimonials/thumbs/1.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div style="color: white;">
                  <h4 style="color: white;" class="testimonial__meta-title">Sami Wade</h4>
                  <p class="testimonial__meta-desc">Lahor</p>
                </div>
              </div><!-- /.testimonial-meta -->
              <div class="testimonial__meta">
                <div class="testimonial__thmb">
                  <img src="images/testimonials/thumbs/2.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div style="color: white;">
                  <h4 style="color: white;" class="testimonial__meta-title">Ahmed</h4>
                  <p class="testimonial__meta-desc">Karachi</p>
                </div>
              </div><!-- /.testimonial-meta -->
              <div class="testimonial__meta">
                <div class="testimonial__thmb">
                  <img src="images/testimonials/thumbs/3.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div style="color: white;">
                  <h4 style="color: white;" class="testimonial__meta-title">Sonia Blake</h4>
                  <p class="testimonial__meta-desc">Sahiwal</p>
                </div>
              </div><!-- /.testimonial-meta -->
            </div><!-- /.slider-nav -->
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.testimonials-wrapper -->
    </div><!-- /.container -->
  </section><!-- /.testimonials layout 2 -->

  <!-- ========================
       gallery
      =========================== -->
  <section class="gallery pt-0 pb-90">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="slick-carousel"
            data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
            <a class="popup-gallery-item" href="images/gallery/1.jpg">
              <img src="images/gallery/1.jpg" alt="gallery img">
            </a>
            <a class="popup-gallery-item" href="images/gallery/2.jpg">
              <img src="images/gallery/2.jpg" alt="gallery img">
            </a>
            <a class="popup-gallery-item" href="images/gallery/3.jpg">
              <img src="images/gallery/3.jpg" alt="gallery img">
            </a>
            <a class="popup-gallery-item" href="images/gallery/4.jpg">
              <img src="images/gallery/4.jpg" alt="gallery img">
            </a>
            <a class="popup-gallery-item" href="images/gallery/5.jpg">
              <img src="images/gallery/5.jpg" alt="gallery img">
            </a>
            <a class="popup-gallery-item" href="images/gallery/6.jpg">
              <img src="images/gallery/6.jpg" alt="gallery img">
            </a>
          </div><!-- /.gallery-images-wrapper -->
        </div><!-- /.col-xl-5 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.gallery 2 -->

  <!-- ==========================
        contact layout 3
    =========================== -->

  <!-- ======================
      Blog Grid
    ========================= -->


  <%- include ('./partials/footer'); -%>