<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Change Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body  class="form-v9">

    <div class="page-content">
		<div class="form-v9-content" style="background:rgb(82, 78, 78) ">
			<form class="form-detail" action="/dashboard/lawyerProfile/changed?_method=PUT" method="POST">
				<% if(success && success.length > 0) { %>
					<div class="alert alert-success" role="alert">
						<%=success%>
					</div>
				<% } %>
				<% if(error && error.length > 0) { %>
					<div class="alert alert-danger" role="alert">
						<%=error%>
					</div>
				<% } %>
				<h2 style="color: white;"> Change Password</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="password" name="oldpassword" id="password" class="input-text" placeholder="Old Password" required>
					</div>
				</div>
                <div class="form-row-total">
					<div class="form-row">
						<input type="password" name="newpassword" id="password" class="input-text" placeholder="New Password" required>
					</div>
				</div>
                <div class="form-row-total">
					<div class="form-row">
						<input type="password" name="cpassword" id="password" class="input-text" placeholder="Confirm Password" required>
					</div>
				</div>  
                <br><br>                       
				<div class="form-row-last">
                    <div class="form-row">
					    <input style="background-color:rgb(74, 178, 74) ;margin-left: -80px;" type="submit" id="go" name="register" class="register" value="Update Password">
                    </div>
				</div>
				<div class="form-row-last">
                    <div class="form-row">
				        <a style="text-decoration: none; margin-left: -110px;" href="/dashboard/lawyerProfile"> <input type="button" id="go" name="login" class="register" value="Back">  </a>
                    </div>
                </div>
                
			</form>
		</div>
	</div>

</body>
</html>
